.navigation-tab-main {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #ffff;
}
.navigation-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.navigation-item {
  padding: 0.3em 1.5em;
  text-decoration: none;
  color: white;
  font-size: 0.8125rem;
}
.active-page {
  color: #fad05b;
  text-decoration: none;
  border-bottom: 2px solid #fad05b;
}
.current-date-time p {
  color: white;
  display: flex;
  margin-left: 1em;
}
.current-date-time .time {
  margin-left: 1em;
  text-transform: uppercase;
}
@media all and (max-width: 500px) {
  .navigation-tab-main {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation-tab {
    display: none;
  }
  .current-date-time p {
    font-weight: 550;
    margin-top: 2em;
    opacity: 0.6;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    top: 0px;
    z-index:2;
    height: 100%;
    left: 0;
    width: 40%;
    padding:4.5em 1em;
    position: absolute;
  }
  .mobile-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 500;
}
  .mobile-menu .navigation-item {
    font-weight: 580;
    color: #707070;
    text-transform: capitalize;
    float:left;
    margin:0.5em;
  }
  .mobile-menu .active-page {
    font-weight: 580;
    color: #000000;
    text-transform: capitalize;
    border: none;
  }
}
