.weather-list-main {
  min-height: 4.5em;
  width: 100%;
  background-color: #ffffff22;
  color: rgba(34, 24, 24, 0.694);
  padding: 0.8em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.1em;
  color: #ffff;
}
.weather-list-main:hover {
  background-color: #ffffff44;
}
.weather-list-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.weather-list-child-col1 {
  max-width: 20%;
  flex: 1;
}
.city-name:hover {
  color: #fad05b;
}
.weather-center-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 40%;
  flex: 1;
}
.weather-center-details img {
  height: 2.1rem;
  width: 2.5rem;
}
.weather-type {
  margin-left: 2rem;
  font-size: 1.125rem;
}
.weather-temp {
  margin-left: 1.5rem;
  font-size: 500;
}
.weather-temp-value {
  font-size: 2rem;
}
.fav-icon {
  flex: 2;
  font-size: 1.2rem;
  max-width: 5%;
}
@media all and (min-width: 500px) {
  .weather-list-mobile-view {
    display: none;
  }
}
@media all and (max-width: 500px) {
  .city-name {
    color: #fad05b;
    width: auto;
  }
  .weather-list-child-col1 {
    max-width: 90%;
    flex: 1;
  }
  .weather-center-details {
    display: none;
  }
  .weather-list-mobile-view {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8em 0;
  }
  .weather-list-mobile-view p {
    font-size: 1rem;
    margin-right: 1em;
  }
  .weather-list-mobile-view img {
    width: 1.725rem;
    height: 1.275rem;
    margin-right: 1em;
  }
  .weather-temp-value-mobile-view {
    font-size: 1.4rem;
  }
}
