.parent-div {
  height: 70vh;
  display: grid;
  place-items: center;
  color: #fff;
}
.child-div img {
  width: 16rem;
  height: 8.2rem;
}
.child-div p {
  font-size: 1.8rem;
  font-weight: 550;
  text-align: center;
  margin-top:2.4em;
}
