.weather-data-main {
  border-top: 1px solid #ffffff44;
  padding-top: 3.5em;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 2em;
  position: absolute;
  width: 100%;
  top: 60vh;
}
.weather-parent {
  display: flex;
  align-items: flex-start;
  padding: 0.4em;
  justify-content: center;
  margin: 0 2.5rem;
}
.weather-parent img {
  height: auto;
  width: auto;
}
.weather-child {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-left: 1.2rem;
  flex: 1;
}
.weather-name {
  font-size: 1.5rem;
}
.weather-value {
  font-size: 1.6rem;
  font-weight: 580;
}
@media all and (min-width: 420px) and (max-width: 770px) {
  .weather-data-main {
    margin-top: 8.4em;
    padding-top: 3.9em;
  }

  .weather-parent {
    margin: 1.5em;
    padding: 1.6em;
  }
  .weather-child p {
    font-size: 1.8rem;
  }
}
@media all and (max-width: 520px) {
  .weather-data-main {
    background-color: #ffffff11;
    border-top: 1px solid #ffffff55;
    margin-top: 8em;
    padding: 3em 0em;
    flex-flow: row nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    scroll-behavior: smooth;
    align-items: center;
    top: 65vh;
    position: absolute;
    margin-bottom: 0;
  }
  .weather-data-main::-webkit-scrollbar {
    display: none;
  }
  .weather-parent {
    margin: 1em;
    display: flex;
    padding: 2em;
    padding-right: 10em;
    min-width: 25em;
  }
  .weather-child p {
    font-size: 2rem;
  }
}
