.weather-data-main {
  border-top: 1px solid #ffffff44;
  margin-top: 6.6em;
  padding-top: 3.5em;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom:2em;
 
}
.weather-parent {
  display: flex;
  align-items: flex-start;
  padding: 0.4em;
  justify-content: center;
}
.weather-parent img {
  height: auto;
  width: auto;
}
.weather-child {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-left: 1.2rem;
  flex:1;
}
.weather-name {
  font-size: 1.5rem;
}
.weather-value {
  font-size: 1.6rem;
  font-weight: 580;
}
@media all and (min-width: 420px)  and (max-width:770px) {
 .weather-data-main{
   margin-top: 8.4em;
   padding-top:3.9em;
 }
 
  .weather-parent{
   margin:1.5em;
   padding:1.6em;
  }
  .weather-child p{
    font-size:1.8rem
  }
}
@media all and (max-width: 420px) {
  .weather-data-main {
    background-color: #ffffff11;
    border-top: 1px solid #ffffff55;
   margin-top: 15em;
   padding-top:5em;
  }
  .weather-parent{
   margin:1.8em;
   padding:1.8em;
  }
  .weather-child p{
    font-size:2rem
  }
}
