.dialog-box-main {
  padding: 3.2em 2.4em;
  text-align: center;
  height: 25vh;

  border-radius: 2rem;
}
.title {
  font-size: 1.6rem;
  margin: 3.2rem;
}
.btn-main {
  margin-top: 10em;
  font-weight: 550;
}
.btn-btn-no {
  background-color: transparent;
  padding: 0.7rem 3.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 600;
}
.btn-btn-yes {
  background-color: #f76b1c;
  padding: 0.7rem 3.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 600;
}
