@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  height: 100%;
  min-height: 100%;
  background: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 100rem;
  width: 80%;
  margin: 0 auto;
}
@media all and (max-width: 420px) {
  .main {
    width: 95%;
  }
  body,
  html {
    font-size: 50%;
    transition:all 0.2s ease-in-out;
  }
}
@media all and (min-width: 420px) and (max-width: 770px) {
  .main {
    width: 91%;
  }
  body,
  html {
    font-size: 56.25%;
    transition:all 0.2s ease-in-out;
  }
}
