.detail-header {
  margin-top: 0.4em;
  padding: 1.3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}

.detail-header button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .detail-header {
    margin-top: 0.8em;
    padding: 2em;
    font-size: 1.1rem;
    margin-left: -2em;
  }
}
